
.fling-minislide {
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	margin:0;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  position: absolute;
  }
.fling-minislide img{
	position:absolute;
	animation:fling-minislide 20s infinite;
	opacity:0;
	width: 100%;
	height: 100%;
	}
@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}
.button{
	position:relative;

    display:inline-flex;
	align-items:center;
   
    text-transform: uppercase;
	margin: 0px, 60px;
	padding:10px;
	margin-bottom:15px;
	background-color:#030337;
	border-radius: 10px;
}
#title{
	display: inline;
}
.logo{
	float: left;
	object-fit: cover;
    width: 55px;
    padding: 10px;
}
.float_form{
	float: left;
}
.center_form{
	float: center;
}
body{
	margin: 0px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: transparent;
}
li{
	display: inline;
	float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
	
}

li a:hover {
    background-color: #E7E7F6;
    color: #030337;
}

a {
	color:transparent;
	text-decoration: none;
	padding-left: 20px;
}
a:hover{
	background-color: white;
	color: #030337;
}

.fix_table{
	width: 300px;
}
.fix_table_short{
	width: 225px;
}
.welcome_text{
	font-family: sans-serif;
	font-size: 30pt;
	color: orange;
	position: absolute;
}
.admin_func:hover{
	color: #030337;
	font-style: italic;
	text-decoration: underline
}
.center_submit{
	text-align: center;
}

.login_form{
	float: left;
}
#menuicon{
  left: 0;
  top: 0;
  margin: 0;
  position: absolute;
  width:100%;
}
